[submodule "submodules/youbot_driver"]
	path = submodules/youbot_driver
	url = https://github.com/youbot/youbot_driver.git
[submodule "submodules/kdl_parser"]
	path = submodules/kdl_parser
	url = https://github.com/ros/kdl_parser
[submodule "submodules/SOEM"]
	path = submodules/SOEM
	url = https://github.com/OpenEtherCATsociety/SOEM.git
