[submodule "submodules/kdl_parser"]
	path = submodules/kdl_parser
	url = https://github.com/ros/kdl_parser
[submodule "submodules/youbot_driver"]
	path = submodules/youbot_driver
	url = https://github.com/ITMORobotics/youbot_driver.git
	branch = cmake
